*{
    margin: 0px;
    padding: 0px;
    color: white;
    background-color: black;
}

@font-face {
    font-family: "SandBeach";
    src: url("Sand-Beach-Demo.ttf");
}


.title{
    font-size: 45px;
    font-family: "SandBeach";
    text-align: center;
    padding-top: 20px;
}

.line{
    margin: 0px 45% 0px 45%;
    border-top: solid 1px red;
}

.item_recette{
    margin: 50px;
}

