<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Orienthai'Food</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>

    <main>
        <header>
            <h1 class="title">
                Orienthai'Food
            </h1>
            <div class="line"></div>
            <h2>
                Des petits plats orientales qui vous feront virer de bord
            </h2>
        </header>

        <section>
            <h3 class="title_list">listes des recettes</h3>

        </section>
    </main>
    <script src="/js/main.js"></script>
    </body>
</html>
