<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Orienthai'Food</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>

    <main>
        <header>
            <h1 class="title">
                Orienthai'Food
            </h1>
            <div class="line"></div>
            <h2 class="subtitle">
                Des petits plats orientales qui vous feront virer de bord
            </h2>
        </header>
        <a href="/ViewAdd" class="add">Ajouter une recette</a>
        <section class="position_list">
        </section>
    </main>
    <script src="/js/main.js"></script>
    </body>
</html>
