<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Orienthai'Food</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <header>
            <a href="/" class="return">retour</a>
            <h1 class="title">
                Orienthai'Food
            </h1>
            <div class="line"></div>
            <h2 class="subtitle">
                Des petits plats orientales qui vous feront virer de bord
            </h2>
        </header>

        <section class="item_style">
        </section>
        <script src="/js/item.js"></script>
    </body>
</html>
